/* Base styles */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 20px;
  max-width: 100%;
}

.logo img {
  width: 100%;
  height: 100%;
}

.nav-links {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
  margin-left: 30%;
}

.nav-links li {
  margin-left: 20px;
}

.nav-links a {
  color: #333;
  text-decoration: none;
  font-weight: 100;
  line-height: 8px;
}

.burger {
  display: none;
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  height: 21px;
}

.burger div {
  width: 25px;
  height: 3px;
  background-color: black;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .nav-links {
    position: absolute;
    right: 0;
    top: 0;
    height: 50vh;
    background-color: #333;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(100%);
    transition: transform 0.3s ease-in;
    z-index: 1000;
    display: none;
  }

  .nav-links.open {
    display: flex;
    transform: translateX(0%);
  }

  .nav-links li {
    opacity: 0;
    margin: 20px 0;
    transition: opacity 0.3s ease-in;
  }

  .nav-links.open li {
    opacity: 1;
  }
  .nav-links a {
    color: #fff;
  }

  .burger {
    display: flex;
  }
  .navbar {
    max-width: 100%;
  }
}
